.pdf-page-container {
    z-index: 0;
}



.visualisation-popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 200;
    transition: background-color 200ms ease;
}

.visualisation-popup-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, .7);
    z-index: 300;
}

/* Hide visualisations when they are not displayed inside a popup. */
.visualisation,
.visualisation:hover
.visualisation.focused {
    display: none;
    border: none;
}

.visualisation-popup-content .visualisation {
    display: block;
    margin: 0;
    padding: 15px;
    background-color: #FFF;
    z-index: 1000;
    transition: height 250ms ease;
}



.pdf-annotation-mask-container {
    position: absolute;
    top: 0;
    width: 0;
    overflow: visible;
    z-index: 50;
}

.annotation-mask {
    position: absolute;
    /* border: 2px solid #0074d9; */
    box-shadow: 0 0 5px #0074D9;
    z-index: 100;
    transition: height 100ms ease;
}

.annotation-mask:hover {
    position: absolute;
    /* border: 1px solid #FF851B; */
    box-shadow: 0 0 10px #FF851B;
}