.vscode/**
.vscode-test/**
.cache/**

**/*.tsbuildinfo

demo/**
latex/**
src/**

out/**/*.ts
out/**/*.js.map

.DS_Store
.eslintignore
.eslintrc.json
.gitignore
.vsix-package
rollup-plugin-template-inliner.js
rollup.config.js
tsconfig.core.bundle.json
tsconfig.core.json
tsconfig.core.tsbuildinfo
tsconfig.json
tsconfig.webview.json
yarn.lock