/* Container of includegraphics visualisations */
[data-visualisation-name="includegraphics"] {
    min-height: 100px;
    overflow: hidden;
}

/* Required to cancel a CSS rule enforced by VSCode. */
[data-visualisation-name="includegraphics"] img {
    max-width: none;
    max-height: none;
}

/* Mandatory rule to use Cropper library */
[data-visualisation-name="includegraphics"] .image {
    display: block;
    max-width: 100%;
}

/*
 * Make all the handles of the Cropper's cropboes the same size, no matter the size of the screen.
 * The media quesries below have been adapted from the CSS file of Cropper's library (v1.5.11).
 */
@media (min-width:768px)  { .cropper-point.point-se { height: 5px !important; width: 5px !important; }}
@media (min-width:992px)  { .cropper-point.point-se { height: 5px !important; width: 5px !important; }}
@media (min-width:1200px) { .cropper-point.point-se { height: 5px !important; width: 5px !important; }}