/* Container of includegraphics visualisations */
[data-visualisation-name="includegraphics"] {
    min-height: 100px;
    overflow: hidden;
}

/* Required to cancel a CSS rule enforced by VSCode. */
[data-visualisation-name="includegraphics"] img {
    max-width: none;
    max-height: none;
}

/* Interactive image frame (adapted from Michel Beadouin-Lafon's) */
[data-visualisation-name="includegraphics"] .frame {
    position: absolute;
    left: 50%;
    border: solid 1px grey;
}

[data-visualisation-name="includegraphics"] .frame > .ghost {
    position: absolute;
    overflow: visible;
    opacity: 0.3;
}

[data-visualisation-name="includegraphics"] .frame > .ghost.hidden {
    visibility: hidden;
}

[data-visualisation-name="includegraphics"] .frame > .inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

[data-visualisation-name="includegraphics"] .frame > .inner > .image {
    position: absolute;
}

[data-visualisation-name="includegraphics"] .frame > .resize {
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: 9px;
    height: 9px;
    border: solid 1px grey;
    background-color: white;
}