[data-visualisation-name="mathematics"] .math-container {
    padding: 20px;
    text-align: center;
}

[data-visualisation-name="mathematics"] .instructions {
    margin: 0 0 1ex 0;
    font-size: 0.8em;
    text-align: left;
}

[data-visualisation-name="mathematics"] .complete-math-code {
    padding: 5px;
    background-color: #f7f7f7;
    border: 1px solid #AAA;
    border-radius: 5px;
    font-family: monospace;
    font-size: 0.8rem;
    color: #333;
    text-align: left;
    white-space: break-spaces;
}

[data-visualisation-name="mathematics"] .complete-math-code:hover {
    background-color: #e6e6e6;
}

[data-visualisation-name="mathematics"] .complete-math-code:focus,
[data-visualisation-name="mathematics"] .complete-math-code:hover:focus {
    border-color: #FDC34C;
    background-color: #fff0da;
}

[data-visualisation-name="mathematics"] .complete-math-code .hovered-region-code {
    background-color: #FDC34C;
}

[data-visualisation-name="mathematics"] .typeset-math span[data-source-location-start][data-source-location-end] {
    border-radius: 2px;
    cursor: default;
}

[data-visualisation-name="mathematics"] .typeset-math span[data-source-location-start][data-source-location-end].hovered {
    background-color: #FDC34C;
}

[data-visualisation-name="mathematics"] .typeset-math {
    margin: 25px 0 0 0;
}

[data-visualisation-name="mathematics"] .typeset-math .katex-error {
    padding: 0 1em;
    text-align: center;
}

[data-visualisation-name="mathematics"] .typeset-math .katex-error .error {
    color: #c71616;
}

[data-visualisation-name="mathematics"] .typeset-math .katex-error .error pre {
    display: inline;
}

[data-visualisation-name="mathematics"] .typeset-math .katex-error .info {
    margin: 1ex 0 0 0;
    color: #666;
    font-size: 0.8em;
}