.pdf-currently-compiled {
    cursor: wait;
}

.pdf-page-container {
    z-index: 0;
    background-color: #666;
}

.pdf-annotation-mask-container {
    position: absolute;
    top: 0;
    width: 0;
    overflow: visible;
}

.annotation-mask {
    --box-shadow-color: #0074D9;
    --box-shadow-spread: 5px;

    position: absolute;
    box-shadow: 0 0 var(--box-shadow-spread) var(--box-shadow-color);
    z-index: 100;
    cursor: pointer;
}

.annotation-mask:hover {
    --box-shadow-color: #FF851B;
    --box-shadow-spread: 10px;
}

.annotation-mask.unavailable,
.annotation-mask.unavailable:hover,
body.pdf-currently-compiled .annotation-mask,
body.pdf-currently-compiled .annotation-mask:hover,
body.last-pdf-compilation-failed .annotation-mask,
body.last-pdf-compilation-failed .annotation-mask:hover,
body.transitionals-unavailable .annotation-mask,
body.transitionals-unavailable .annotation-mask:hover {
    --box-shadow-color: #777777;
    --box-shadow-spread: 5px;

    cursor: not-allowed;
}

body.transitionals-disabled .annotation-mask,
body.transitionals-disabled .annotation-mask:hover {
    display: none !important;
}