[data-visualisation-name="grid layout"] * {
    box-sizing: border-box;
}

[data-visualisation-name="grid layout"] button {
    padding: 5px 10px;
    background-color: #00498a;
    border: none;
    border-radius: 2px;
    color: #FFF;
    cursor: pointer;
    user-select: none;
    outline: none;
    animation: fade-in 250ms ease-in-out;
}

[data-visualisation-name="grid layout"] button:hover {
    background-color: #0e5ca0;    
}

[data-visualisation-name="grid layout"] button:active {
    background-color: #043764;    
}

[data-visualisation-name="grid layout"] .command-bar {
    display: flex;
    padding: 5px;
    background-color: #FAFAFA;
    border-bottom: 1px solid #EEE;
    justify-content: space-between;
    align-items: center;
}

[data-visualisation-name="grid layout"] .command-bar .instructions {
    padding: 0 0 0 5px;
}

[data-visualisation-name="grid layout"] .row-container-wrapper {
    margin: 10px auto;
}

[data-visualisation-name="grid layout"] .row-container {
    height: 100%;
    overflow: hidden;
}

[data-visualisation-name="grid layout"] .row {
    width: 100%;
}

[data-visualisation-name="grid layout"] .cell-container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

[data-visualisation-name="grid layout"] .cell-container > * {
    display: inline-block;
    flex-shrink: 0;
    vertical-align: top;
}

[data-visualisation-name="grid layout"] .cell {
    /* height: 100%; */
    position: relative;
    padding: 0;
    overflow: hidden;
    background-color: #f4f4f4;
    border: 2px solid #666;
    color: #5d5d5dad;
}

[data-visualisation-name="grid layout"] .cell:hover {
    background-color: #ecf0ff;
    border-color: #00498a;
}

[data-visualisation-name="grid layout"] .cell.dragged {
    opacity: 0.4;
}

[data-visualisation-name="grid layout"] .cell-content {
    position: absolute;
    padding: 1em;
    font-size: 0.7rem;
    font-family: monospace;
    overflow: hidden;
    white-space: pre-line;
    user-select: none;
    cursor: pointer;
    z-index: 1500;
}

[data-visualisation-name="grid layout"] .cell-is-dragged .cell-content {
    opacity: 0.2;
}



/* Cell drop zonez */

[data-visualisation-name="grid layout"] .cell-drop-zone {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

[data-visualisation-name="grid layout"] .cell-is-dragged .cell:not(.dragged) .cell-drop-zone {
    display: grid;
    grid-template-columns: min(50px, 25%) auto min(50px, 25%);
    grid-template-rows: auto;
    grid-template-areas: "left gap right";
}


[data-visualisation-name="grid layout"] .cell-drop-zone .left,
[data-visualisation-name="grid layout"] .cell-drop-zone .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    background-color: #0c9eff57;
    border-color: #0c9eff9b;
    border-style: solid;
    z-index: 1750;
}

[data-visualisation-name="grid layout"] .cell-drop-zone .left:hover,
[data-visualisation-name="grid layout"] .cell-drop-zone .right:hover {
    background-color: #0c9eff86;
    border-color: #0c9eff;
}

[data-visualisation-name="grid layout"] .cell-drop-zone .left {
    grid-area: left;
    border-width: 0;
    border-left-width: 5px;
}

[data-visualisation-name="grid layout"] .cell-drop-zone .right {
    grid-area: right;
    border-width: 0;
    border-right-width: 5px;
}

[data-visualisation-name="grid layout"] .cell:hover .cell-drop-zone .left::before,
[data-visualisation-name="grid layout"] .cell:hover .cell-drop-zone .right::before {
    color: #0045749f;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: lowercase;
}

[data-visualisation-name="grid layout"] .cell:hover .cell-drop-zone .left::before {
    content: "Insert before";
    text-align: left;
    padding: 0 0 0 3px;
}

[data-visualisation-name="grid layout"] .cell:hover .cell-drop-zone .right::before {
    content: "Insert after";
    text-align: right;
    padding: 0 3px 0 0;
}

[data-visualisation-name="grid layout"] .cell-drop-zone .left:hover,
[data-visualisation-name="grid layout"] .cell-drop-zone .right:hover {
    /* background-color: #0c9eff3b; */
    border-color: #0c9effe0;
}



/* Cell action buttons */

[data-visualisation-name="grid layout"] .action-buttons-container {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    overflow: hidden;
    z-index: 1725;
    touch-action: none;
}

[data-visualisation-name="grid layout"] .action-buttons-container:not(:hover) > *,
[data-visualisation-name="grid layout"] .cell-is-dragged .action-buttons-container > * {
    visibility: hidden;
}

[data-visualisation-name="grid layout"] .action-buttons-container .delete-cell-button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    background-color: #8a0000;
    z-index: 1730; /* so that the button remains on top of the add row buttons on very small rows/cells */
}

[data-visualisation-name="grid layout"] .action-buttons-container .delete-cell-button:hover,
[data-visualisation-name="grid layout"] .action-buttons-container .delete-cell-button:active {
    background-color: #FF4136;
}

[data-visualisation-name="grid layout"] .action-buttons-container .delete-cell-button::before {
    content: " ";
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    background-color: transparent;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23FFFFFF" width="18px" height="18px"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    vertical-align: middle;
}

[data-visualisation-name="grid layout"] .add-cell-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

[data-visualisation-name="grid layout"] .add-cell-buttons-container > button {
    flex-grow: 1;
    text-transform: lowercase;
}

[data-visualisation-name="grid layout"] .add-cell-before-button::before {
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.5ex 0 0;
    background-color: transparent;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    vertical-align: text-bottom;
}

[data-visualisation-name="grid layout"] .add-cell-after-button::after {
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0 0 0.5ex;
    background-color: transparent;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    vertical-align: text-bottom;
}



/* Resize handles */

[data-visualisation-name="grid layout"] .row-resize-handle {
    height: 8px;
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(51, 51, 51)" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>');
    cursor: ns-resize;
}

[data-visualisation-name="grid layout"] .cell-resize-handle {
    /* height: 100%; */
    width: 8px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(51, 51, 51)" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>');
    cursor: ew-resize;
}

[data-visualisation-name="grid layout"] .row-resize-handle,
[data-visualisation-name="grid layout"] .cell-resize-handle {
    background-color: #FFF;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    z-index: 2000;
    touch-action: none;
}

[data-visualisation-name="grid layout"] .row-resize-handle:hover {
    background-color: #ffefa2;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(0, 0, 0)" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>');
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
}

[data-visualisation-name="grid layout"] .cell-resize-handle:hover {
    background-color: #ffefa2;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgb(0, 0, 0)" width="18px" height="18px"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>');
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
}