[data-visualisation-name="grid layout"] .layout {
    width: 100%;
}

[data-visualisation-name="grid layout"] .row {
    display: flex;
    flex-direction: column;
}

[data-visualisation-name="grid layout"] .cell-container {
    display: flex;
    height: 100%;
    overflow-y: hidden;
}

[data-visualisation-name="grid layout"] .cell {
    display: flex;
    height: inherit;
    padding: 0;
}

[data-visualisation-name="grid layout"] .cell-content {
    flex-grow: 1;
    padding: 5px;
    font-size: 0.8rem;
    font-family: monospace;
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    z-index: 1500;
}

[data-visualisation-name="grid layout"] .cell-content:hover {
    background-color: #EEE;
}

[data-visualisation-name="grid layout"] .row-resize-handle {
    height: 5px;
    width: 100%;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    cursor: ns-resize;
}

[data-visualisation-name="grid layout"] .cell-resize-handle {
    height: 100%;
    width: 5px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    cursor: ew-resize;
}

[data-visualisation-name="grid layout"] .row-resize-handle,
[data-visualisation-name="grid layout"] .cell-resize-handle {
    flex-shrink: 0;
    background-color: #AAA;
    z-index: 2000;
}

[data-visualisation-name="grid layout"] .row-resize-handle:hover,
[data-visualisation-name="grid layout"] .cell-resize-handle:hover {
    background-color: orange;
}