[data-transitional-name="tabular"] .handsontable-container {
    /* Total height of the table (required to update the height of the container).
       This value will be updated by the table transitional view. */
    --table-height: 60px;

    width: calc(100% - 20px);
    margin: 10px;
    padding: 0;
    height: var(--table-height);
    overflow: hidden;

    /* Apparently, VS Code controls the color of the scrollbars INSIDE the webview
       via some of the custom properties provided (on the HTML element).
       In order to ensure the scrollbars of the table are visible,
       some of these properties need to be redefined. */
    --vscode-scrollbarSlider-background: #ccc;
    --vscode-scrollbarSlider-hoverBackground: #aaa;
    --vscode-scrollbarSlider-activeBackground: #999;

    /* Make the small square at the intersection between the horiz. and vert. scrollbars invisible. */
    --vscode-editor-background: #fff;
}

[data-transitional-name="tabular"] .instructions {
    margin: 10px 10px 1ex 10px;
    font-size: 0.8em;
}

/* Fixes the  color of the text of the context menu that is, for an unknown reason, white by default. */
.htContextMenu {
    color: #000;
}
